header {
	background-color: #fff;
	border-bottom-color: grey;
	width: 100%;
	height: 64px;
}



.logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
	color:#fff;
	font-size: 24px;
	font-weight: bold;
	float: left;
	padding: 20px 10px;
	margin: 0 100px;
}

.aboutlink, .portfoliolink, .contactlink {
	padding: 10px 10px;
	margin-top: 15px;
	float: left;

}

.aboutlink {
	margin-left: 515px;
	padding-right: 10px;
	border-right: solid grey 1px;
}

.portfoliolink {
	padding-right: 10px;
	border-right: solid grey 1px;
}

.contactlink {

}

a:link {
	text-decoration: none;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("assets/images/background.png");
}

#about{
	float: left;
	width: 650px;
	background-color: #fff;
	padding: 25px;
	margin-left: 100px;
	margin-top: 50px;
}

#profilepic{
	float:left;
	padding-right: 20px;
	padding-bottom: 20px;
}

#intro{
	float:left;
}

.connect{
	
	float: left;
	width:270px;
	background-color: #fff;
	padding: 25px;
	margin-right: 100px;
	margin-top: 50px;
	float: right;
}

.h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: bold;
}

footer {
	clear: both;
	background-color: #666;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	padding: 30px 0;
	text-align: center;
	color: white;
}